# for platform-appropriate cxxopts
common --enable_platform_specific_config

build --incompatible_enable_cc_toolchain_resolution
build --protocopt=--experimental_allow_proto3_optional
build --client_env=CC=clang

build:windows --cxxopt='/std:c++14'
build:windows --host_cxxopt='/std:c++14'
build:linux   --cxxopt='-std=c++14'
build:linux   --host_cxxopt='-std=c++14'
build:macos   --cxxopt='-std=c++14'
build:macos   --host_cxxopt='-std=c++14'
build:freebsd   --cxxopt='-std=c++14'
build:freebsd   --host_cxxopt='-std=c++14'
